/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&family=Roboto+Condensed:wght@300&display=swap');

/* Asteric Wildcard Selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic Project styles */
    color: #000;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.3rem;
}

/* Header */
header {
    background-color: #800080;
    width: 100%;
    box-shadow: 0 4px 4px #3a3a3a;
    padding: 0 1rem;
    z-index: 99;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #fff;
}

h1 {
    font-family: 'Outfit', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 0;
}

/* Navigation Bar*/

#menu {
    font-size: 110%;
    letter-spacing: 1px;
    list-style-type: none;
    display: flex;
}

#menu>li {
    margin-right: 1em;
}

.active {
    border-bottom: 1px solid #fff;
}

/* Navigation bar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #800080;
    width: 100%;
    left: 0;
    padding: 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Navigation Toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    cursor: pointer;
    color: #fff
}

/* Main Content*/
main {
    background-color: #fce5f4;
    flex-grow: 1;
    margin-top: 40px;
}

/* Hero Images */
.hero-image {
    height: 350px;
    width: 100%;
    position: relative;
}

#hero-image-home {
    background: url("../media/hero-image-home.jpg") no-repeat center center/cover;
}

#hero-image-events {
    background: url("../media/hero-image-events.jpg") no-repeat center center/cover;
}

#hero-image-resources {
    background: url("../media/hero-image-resources.jpg") no-repeat center center/cover;
}

#hero-image-find-us {
    background: url("../media/hero-image-find-us.jpg") no-repeat center center/cover;
}

#cover-text {
    background-color: rgba(255, 153, 221, 0.7);
    position: absolute;
    bottom: 30px;
    width: 45%;
    max-width: 235px;
    min-width: 200px;
    min-height: 80px;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 20px;
    padding-right: 10px;
    box-sizing: border-box;

}

#cover-text>h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
    font-size: 130%;
}

#cover-text>h3 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    text-transform: capitalize;
    font-size: 110%;
    text-align: center;
}

/* Welcome Section */
#welcome-section {
    text-align: center;
}

.welcome-message h2 {
    font-size: 2.5rem;
    color: #800080;
    margin-top: 40px;
    margin-bottom: 20px;
}

.welcome-message p {
    font-family: 'Roboto Condensed', sans-serif;
        color: #000;
        font-size: 1.5rem;
        padding: 20px;
        font-weight: bold;
}

/* Subtitles Section */
.subtitle-section {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 5px solid #ddd;
    padding: 10px;
    text-align: center;
}

.subtitle-section h1 {
    font-family: 'Outfit' sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 10px;
    color: #800080;
    line-height: 1.3;
}


.subtitle {
    font-family: 'Roboto Condensed', sans-serif;
    color: #800080;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10px;
}

/* Home Cards, Events Cards & Resources Card */
#home-layout,
#events-layout,
#resources-layout,
.find-us-layout {
    display: flex;
    flex-wrap: wrap;
    /* to center the items horizontally */
    justify-content: center;
}

.home-card,
.events-card,
.resources-card,
.find-us-card {
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    min-width: 250px;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    /* to make each card take up an equal amount of space on its row */
    flex: 1;
    /* ensures that each card grows to fill the available space */
    flex-grow: 1;
    text-align: left;
    transition: box-shadow 0.3s ease-in-out;
    border: 5px solid #ddd;
    transform: translateY(0);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    background: linear-gradient(45deg, #f2f2f2, #e6e6e6, #fff8e7);
}

.events-card {
    min-width: 280px;
    align-items: center;
    max-width: 350px;
}

.home-card h2, .events-card h3 {
    color: #800080;
}

.home-card:hover,
.events-card:hover,
.resources-card:hover,
.find-us-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    background: linear-gradient(45deg, #e6e6e6, #fff8e7, #f2f2f2);
}

#values-list {
    list-style-type: none;
}
.events-card-image {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.resources-card-image {
    border: 2px solid #800080;
    box-sizing: border-box;
    width: fit-content;
    margin-bottom: 10px;
}

.resources-card h3 {
    color: #800080;
    margin-bottom: 5px;
}

.find-us-card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    margin: 40px 20px 20px;
}

.find-us-card h3 {
    color: #800080;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
}

        /* to make each item distinguished*/
.list-item-beginning {
    text-decoration: underline #800080;
    text-transform: uppercase;
    font-weight: 500;
}

/* Testimonials Section */
#testimonials-section {
    padding: 40px 20px;
    text-align: center;
}

#testimonials-section h2 {
    font-size: 2.5rem;
    color: #800080;
    margin-bottom: 20px;
}

.testimonial {
    background-color: #f3f0e9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    padding: 20px;
    margin: 20px auto;
    text-align: left;
}

.testimonial p {
    font-size: 1.2rem;
    color: #333;
}

#important {
    font-family: 'Roboto Condensed', sans-serif;
    color: #800080;
    font-size: 1rem;
    margin: 40px;
    padding: 20px;
    font-weight: bold;
    background: linear-gradient(45deg, #f2f2f2, #e6e6e6, #fff8e7);
    border: 2px dotted #800080;
}

/* Sign Up Form */
#signup-section {
    background-color:#f3f0e9;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 20px;
    max-width: 400px
}

#signup-section>h2 {
    text-align: left;
    text-transform: capitalize;
    font-weight: 500;
    font-family: 'Outfit', sans-serif;
    font-size: 1.5rem;
    color:#800080;
    padding-bottom: 20px;


}

#signup-form {
    display: grid;
    gap: 10px;
}

label {
    font-size: 1.2rem;
    color: #800080;
    margin-bottom: 5px;
    font-weight: 500;
}

input,
select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #800080;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #660066;
}

/* Map */
#map-container {
    width: 80%;
    max-width: 600px;
    min-width: 290px;
    /* to center the container horizontally */
    margin: 40px auto;
    overflow: hidden;
    position: relative;
    padding-bottom: 5%;
    height: 400px;
}

#map {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Footer */
footer {
    background-color: #800080;
    flex-shrink: 0;
    height: 40px;
}

#social-media {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media i {
    font-size: 150%;
    padding: 5%;
    color: #fff8e7;
    cursor: pointer;
}

/* Media Query: tablets and larger (769px and up) */
@media screen and (min-width: 769px) {

    /* Header */
    nav {
        display: flex;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
        box-shadow: none;
    }

    #menu>li {
        padding-left: 1rem;
        font-weight: 600;
    }

    .nav-toggle-label {
        display: none;
    }

    h1 {
        font-size: 2.5rem;
        line-height: 70px;
    }

    /* Main Content */
    main {
        margin-top: 70px;
    }

    /* Hero Image */
    #cover-text {
        right: 50px;
        font-size: larger;
    }
    #cover-text>h3 {
        text-align: center;
    }
 
    /* Welcome Section & Testimonials Section */
    #welcome-section,
    #testimonials-section {
         padding: 60px 20px;
    }
    
    .welcome-message h2,
    #testimonials-section h2 {
         font-size: 3rem;
    }

    .welcome-message p,
    .testimonial p {
        font-size: 1.2rem;
    }
    
    .testimonial {
        max-width: 800px;
    }

   /* Subtitles Section */
   .subtitle-section {
       padding: 40px;
       text-align: center;
   }

   .subtitle-section h1 {
       font-size: 1.6rem;
       padding: 20px;
       line-height: 1.5;
   }


   .subtitle {
       font-size: 1.5rem;
       padding: 20px;
   }

    /* Sign Up Form */
  
    #signup-section {
        margin: 40Px;
    }
    #map-container {
        min-width: 600px;
        margin: 40px 20px;
    }
}

/* Larger devices (laptops and desktops, 992px and up) */
    @media screen and (min-width: 992px) {

        /* Header */
        #menu a:hover {
            border-bottom: 1px solid #3a3a3a;
        }
    }