/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&family=Roboto+Condensed:wght@300&display=swap');

/* Asteric Wildcard Selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic Project styles */
    color: darkslategray
}

/* Header */
header {
    background-color: lightgreen
}

/* Main Content*/
main {
    background-color: pink;
    /* Make the main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: aqua;
}