/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&family=Roboto+Condensed:wght@300&display=swap');

/* Asteric Wildcard Selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic Project styles */
    color: #000;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Header */
header {
    background-color: #800080;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    padding: 0 1rem;
    z-index: 99;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #fff;
}

h1 {
    font-family: 'Outfit', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 0;
}

/* Navigation Bar*/

#menu {
    font-size: 110%;
    letter-spacing: 1px;
    list-style-type: none;
    display: flex;
}

#menu>li {
    margin-right: 1em;
}

.active {
    border-bottom: 1px solid #fff;
}

/* Navigation bar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #800080;
    width: 100%;
    left: 0;
    padding: 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Navigation Toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    cursor: pointer;
}

/* Main Content*/
main {
    background-color: #ff99dd;
    flex-grow: 1;
    margin-top: 40px;
}

/* Hero Images */
.hero-image {
    height: 350px;
    width: 100%;
    position: relative;
}

#hero-image-home {
    background: url("../media/hero-image-home.jpg") no-repeat center center/cover;
}

#hero-image-events {
    background: url("../media/hero-image-events.jpg") no-repeat center center/cover;
}

#hero-image-resources {
    background: url("../media/hero-image-resources.jpg") no-repeat center center/cover;
}

#hero-image-find-us {
    background: url("../media/hero-image-find-us.jpg") no-repeat center center/cover;
}

#cover-text {
    background-color: rgba(255, 153, 221, 0.6);
    position: absolute;
    bottom: 30px;
    width: 45%;
    max-width: 145px;
    min-height: 80px;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 20px;
    padding-right: 10px;
}

#cover-text>h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
    font-size: 130%;
}

#cover-text>h3 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    text-transform: capitalize;
    font-size: 110%;
}

.subtitle {
    font-family: 'Roboto Condensed', sans-serif;
    color: #800080;
    font-size: 1.8rem;
    margin: 40px;
    padding: 20px;
    font-weight: bold;
    background-color: #fff8e7;
}

/* Home Cards */
#home-layout {
    display: flex;
    flex-wrap: wrap;
    /* to center the items horizontally */
    justify-content: center;
}

.home-card {
    border-radius: 10px;
    box-shadow: fff(0, 0, 0, 0.1);
    max-width: 400px;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    background-color: #fff8e7;
    /* to make each card take up an equal amount of space on its row */
    flex: 1;
    /* ensures that each card grows to fill the available space */
    flex-grow: 1;
    text-align: left;
}

#values-list {
    list-style-type: none;
}

/* to make each item distinguished*/
.list-item-beginning {
    text-decoration: underline palevioletred;
    text-transform: uppercase;
    font-weight: 500;
}

/* Events Cards */
#events-layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 20px;
}

.events-card {
    background: #fff8e7;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    /* to change to column for smaller screens */
    overflow: auto;
    box-shadow:
        5px 0 0 0 rgba(204, 204, 204, 0.3),
        -5px 0 0 0 rgba(204, 204, 204, 0.3),
        0 5px 0 0 rgba(204, 204, 204, 0.3);
}

.events-card-image {
    max-height: 200px;
    overflow: hidden;
    border-radius: 24px 24px 0 0;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.rigth {
    float: right !important;
}

.text-content {
    padding: 20px;

    h3 {
        margin: 0;
        font-size: 1.5em;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #800080;
    }

    p {
        margin: 16px 0 24px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        line-height: 1.2em;
    }

    a {
        align-self: flex-start;
        text-decoration: none;
        padding: 16px 32px;
        border-radius: 12px;
        transition: background 400ms, color 400ms;

        &:hover {
            background: #000;
            color: white;
        }
    }
}

/* Find Us Cards */
#find-us-layout {
    display: flex;
    flex-wrap: wrap;
    /* to center the items horizontally */
    justify-content: center;
}

.find-us-card {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1);
    max-width: 400px;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    background-color: #fff8e7;
    flex: 1;
    /* to make each card take up an equal amount of space on its row */
    flex-grow: 1;
    /* to ensure that each card grows to fill the available space */
    text-align: left;
}

/* Map */
#map-container {
    width: 80%;
    max-width: 600px;
    /* to center the container horizontally */
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    padding-bottom: 5%;
    height: 400px;
}

#map {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Footer */
footer {
    background-color: #800080;
    flex-shrink: 0;
    height: 40px;
}

#social-media {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 7px 0;
}

#social-media i {
    font-size: 150%;
    padding: 5%;
    color: #fff8e7;
    cursor: pointer;
}

/* Media Query: srceens (min-width: 450px) and (max-width: 768px) */
@media screen and (min-width: 420px) and (max-width: 768px) {
    #events-layout {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 20px;
    }

    .events-card {
        flex-direction: row;
        margin-bottom: 20px;
    }

    .events-card-image {
        width: 100%;
        max-width: 240px;
        height: 100%;
        max-height: 240px;
        overflow: hidden;
        text-align: center;
        display: block;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 12px;

        }
    }

    .text-content {
        display: block;
        width: 100%;
    }

    .rigth {
        float: none !important;
    }
}

/* Media Query: tablets and larger (769px and up) */
@media screen and (min-width: 769px) {

    /* Header */
    nav {
        display: flex;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
        box-shadow: none;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    h1 {
        font-size: 2.5rem;
        line-height: 70px;
    }

    /* Main Content */
    main {
        margin-top: 70px;
    }

    /* Hero Image */
    #cover-text {
        max-width: 170px;
        right: 50px;
        font-size: larger;
    }

    /* Events Card */
    #events-layout {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .events-card {
        flex-direction: row;
    }

    .events-card-image {
        width: 100%;
        min-width: 200px;
        max-height: 240px;
    }

    /* to reverse order for odd cards */
    .events-card:nth-of-type(odd) .events-card-image {
        order: 2;
    }


    /* Larger devices (laptops and desktops, 992px and up) */
    @media screen and (min-width: 992px) {

        /* Header */
        #menu a:hover {
            border-bottom: 1px solid #3a3a3a;
        }

        /* Events Cards */
        #events-layout {
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }

        .events-card {
            flex-direction: row-reverse;
        }

        /* to reverse order for odd cards */
        .events-card:nth-of-type(odd) .events-card-image {
            order: 2;


            .events-card-image {
                width: 100%;
                max-width: 240px;
            }

            img {
                max-width: 240px;
            }
        }
    }